# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/src/Compilers/js/temp
/src/Compilers/js/log
/src/Compilers/js/Core/State/links.json
/old

# Ignore algo_file 
/algo_files

# production
/build

# misc
.DS_Store
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore files with .alg extension and log file
*.alg
*.lang